:root {
  --text-regular-normal-font-family: "Roboto", Helvetica;
  --text-regular-normal-font-size: 16px;
  --text-regular-normal-font-style: normal;
  --text-regular-normal-font-weight: 400;
  --text-regular-normal-letter-spacing: 0px;
  --text-regular-normal-line-height: 150%;
  --variable-collection-color: rgba(11, 22, 62, 1);
}
